@charset "UTF-8";
/*
主たるブレイクポイント
768px以下sp.tab
769px以上pc
1000px以上pc2
*/


/*===============
共通設定 & 汎用クラス
===============*/
html{
  font-size: 62.5%;
}


body{
  font-size: 1.6rem;
  font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  line-height: 2;
  color: #333;
}

a{
  text-decoration: none;
}

a:hover{
  opacity: 0.6;
}

.cf::after{
  content: "";
  display: block;
  clear:both;
}

.sp{
  display: block;
}

.pc{
  display: none;
}

.to_top{
  font-size:4rem;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  width:50px;
  height:50px;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor: pointer;
}

@media screen and (min-width:600px){
  .sp{
    display: none;
  }
  .pc{
    display: block;
  }
}

.title{
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 30px;
  line-height: 1;
}

.btn a{
  display: block;
  background-color: #3CAD5A;
  width:80%;
  max-width:270px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  line-height: 70px;
}

@media screen and (min-width:769px){
  .btn a{
    width:60%;
  }
}

.inner{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.break{
  display: inline-block;
}

.row{
  padding: 70px 5%;
}


@media screen and (min-width:769px){
  .row{
    padding-left: 0;
    padding-right: 0;
  }

}


/*===============
ヘッダー
===============*/

header{
  position:sticky;
  top:0;
  width:100%;
  height: 70px;
  background-color: rgba(255,255,255,0.8);
  z-index:1000;
}

header div{
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: relative;

}
header h1{
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
}

/* メニュー */

.sp_nav{
  display: block;
}

.pc_nav{
  display: none;
}

.sp_nav > div{
  width:24px;
  height: 24px;
  position: fixed;
  top:20px;
  right: 15px;
  z-index: 100000;
}

.sp_nav div span{
  display: block;
  width:100%;
  background-color: #333;
  height: 2px;
  transition:0.4s;
  position: absolute;
}

.sp_nav div span:first-child{
  top:0;
}

.sp_nav div span:nth-child(2){
  top:11px;
}

.sp_nav div span:last-child{
  bottom:0;
}

.sp_nav.on span:nth-child(1){
  transform: translate(0px,11px)rotate(45deg);
}

.sp_nav.on span:nth-child(2){
  visibility: hidden;
}

.sp_nav.on span:nth-child(3){
  transform: translate(0px,-11px)rotate(-45deg);
}

.sp_nav nav > div{
  width:100%;
  height: 100vh;
  padding-top:64px;
  padding-left:32px;
  padding-right: 32px;
  background-color: #FAEBDF;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: 0.3s;
  overflow-y: auto;
}

.sp_nav.on nav > div{
  transform: translateX(0%);
}

.sp_nav.on nav > div ul{
  margin-bottom: 20px;
}

.sp_nav nav > div ul li{
  font-size:2rem;
  line-height: 5rem;
}
.sp_nav nav > div ul ul li{
  padding-left: 20px;
  font-size:1.6rem;
}
.sp_nav nav > div ul li a{
  color: #707070;
  display: block;
  border-bottom: 1px solid #707070;
}

.sp_nav nav > div ul li > ul li a{
  border-bottom: 1px dotted #707070;
}




@media screen and (min-width:769px){
  .sp_nav{
    display: none;
  }

  .pc_nav{
    display: block;
  }

  .pc_nav ul li{
    display: inline;
    margin-right: 20px;
  }

  .pc_nav ul li a{
    color: #F77237;
  }

}


/*=====================
キービジュアル
=====================*/
#key{
  width:100%;
  background-image: url(../img/key.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#key div{
  display: table;
  height: 80vh;
}

#key p.sp{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#key div.pc{
  display: none;
}

@media screen and (min-width:680px){
  #key p.sp{
    display: none;
  }

  #key div.pc{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 4.6rem;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    line-height: 1.5;
  }

  #key div.pc p{
    background: rgba(247,114,55,0.5);
    display: inline-block;
    padding: 46px;
  }

  #key div.pc p span{
    font-size: 2.1rem;
  }

}/*===min-width:600px===*/

/*=====================
スクロール
=====================*/
#scroll{
  text-align: center;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 0;
}

#scroll p i{
  border:1px solid #707070;
  border-radius: 20px;
}

/*=====================
メイン
=====================*/

main #top_about .lead{
  margin-bottom: 30px;
}

@media screen and (min-width:600px){
  main #top_about .lead{
    max-width:600px;
    margin-right: auto;
    margin-left: auto;
  }
}/*===min-width:600px===*/

main #top_menu div{
  padding:0 10%;
  margin-bottom: 30px;
}



main #top_menu div figure{
  margin-bottom: 20px;
}

@media screen and (min-width:600px){
  main #top_menu div figure:last-child,
  main #top_menu div figure:nth-last-child(2){
    margin-bottom: 0px;
  }

}/*===min-width:600px===*/


main #top_menu div figure figcaption{
  text-align: center;
}

@media screen and (min-width:600px){
  main #top_menu div{
    padding:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main #top_menu div figure{
    width:48%;
  }
}

@media screen and (min-width:769px){
  main #top_menu div figure{
    width:20.5%;
  }

}/*===min-width:769px===*/

main #top_lesson{
  background-color: rgba(247, 114, 55,0.4);
}

main #top_lesson h2+p{
  margin-bottom: 15px;
}

main #top_lesson figure{
  margin-bottom: 30px;
}

main #top_lesson figure > p{
  margin-bottom: 20px;
}

@media screen and (min-width:769px){
  main #top_lesson figure{
    display: flex;
  }

  main #top_lesson figure > p{
    margin-right: 20px;
    width:40%;
  }

}/*===min-width:769px===*/

main .bottom_contents{
  padding-bottom: 0;
}

main #top_voice{
  padding-bottom: 70px;
}

main #top_voice figure{
  padding-left:10%;
  padding-right: 10%;
  margin-bottom: 30px;
}

main #top_voice figure figcaption p:nth-child(2){
  margin-bottom: 15px;
}

@media screen and (min-width:769px){
  main .bottom_contents >div{
    display: flex;
    justify-content: space-between;
  }

  main .bottom_contents section{
    width:48%;
  }

  main #top_voice figure{
    padding:0;
    display:flex;
  }

  main #top_voice figure > p{
    width:50%;
    height: auto;
    margin-right: 22px;
  }

}

main #top_info dl{
  margin-bottom: 10px;
}

main #top_info dl:last-of-type{
  margin-bottom: 30px;
}

main #top_info dl a{
  color: #F77237;
}

/*=====================
フッター
=====================*/
footer{
  background-color: #F77237;
  margin-top: 150px;
}

footer{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

footer .footer_logo{
  width:53%;
  margin-bottom: 30px;
}

footer .footer_wrap{
  padding-left:16px;
  padding-right: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

footer .footer_left ul li{
  color: #fff;
  list-style: disc;
}

footer .footer_left ul li>ul{
  margin-left: 16px;
}

footer .footer_left ul li a{
  color: #fff;
}

footer .footer_right ul{
  font-size: 0;
  margin-bottom: 16px;
}

footer .footer_right ul li{
  list-style: none;
  display: inline;
  margin-right: 8px;
}

footer .footer_right dl{
  color: #fff;
}

footer .footer_right dl dd{
  line-height: 1.5;
}

footer .copy{
  color: #fff;
  text-align: center;
}


/*=====================
下層共通
=====================*/
.under_title{
  height: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top:10px;
  padding-left: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width:769px){
  .under_title{
    height: 180px;
  }
}/*===min-width:769px===*/

.under_title span{
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  font-size: 1.6rem;
  line-height: 1;
  padding:20px;
}

/* パンくず */

.bread{
  display: none;
}

@media screen and (min-width:769px){
  .bread{
    display: block;
    margin-top:10px;
    margin-bottom: 10px;
  }

  .bread ul{
    font-size: 0;
  }
  .bread ul li{
    display: inline;
    font-size: 16px;
  }
  .bread ul li::after{
    content:">";
    padding:0 7px;
  }
  .bread ul li:last-child::after{
    content:"";
  }
}/*===max-width:769px===*/


/* 下層2カラム */
.wrapper{
  display: flex;
  flex-direction: column-reverse;
}
.wrapper #side{
  padding:0 5%;
}

.wrapper #side aside{
  display: none;
}

.wrapper #side ul {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.wrapper #side ul li{
  line-height: 6.6rem;
  text-align: center;
  width:45.9%;
  list-style:none;
  margin-bottom: 30px;
}

.wrapper #side ul li a{
  color:#F77237;
  display: block;
  border:1px solid #F77237;
}
.lesson .wrapper #side ul li:first-child a,
.flow .wrapper #side ul li:nth-child(2) a,
.voice .wrapper #side ul li:nth-child(3) a,
.contact .wrapper #side ul li:last-child a{
  background-color: #F77237;
  color:#fff;
  border:1px solid #F77237;
}
@media screen and (min-width:769px){
  .wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrapper #side{
    padding:0;
    width:30%;
    max-width:300px;
  }
  .wrapper #side aside{
    display: block;
  }
  .wrapper #side ul {
    display:block;
    margin-top:0;
    margin-bottom: 20px;
  }

  .wrapper #side ul li{
    text-align: center;
    width:100%;
    list-style:none;
    margin-bottom: 0px;
  }
  .wrapper #side ul li a{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:1px solid #F77237;
  }
  .wrapper main{
    padding:0;
    width:64%;
    max-width:640px;
  }
}/*===min-width:769px===*/

/*=====================
about
=====================*/
.about .row{
  padding-top: 0;
  padding-bottom: 0;
}

.about .under_title{
  background-image:url(../img/about_main.jpg);
  background-position: center bottom;
}

.about #about_commitment h3{
  text-align: center;
}

.about #about_commitment section{
  margin-bottom: 60px;
}

.about #about_commitment section .about_text{
  margin-bottom: 20px;
}

@media screen and (min-width:769px){
  .about #about_commitment h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }


  .about #about_commitment section div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about #about_commitment section div .about_text,
  .about #about_commitment section div .about_image{
    width:48%;
  }

  .about #about_commitment section:nth-child(odd) div .about_text{
    order:1;
  }

}


/*=====================
menu
=====================*/
.menu .row{
  padding-top: 0;
  padding-bottom: 0;
}

.menu .under_title{
  background-image:url(../img/menu_main.jpg);
  background-position: center center;
}

.menu main ul{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.menu main ul li{
  list-style: none;
  border:1px solid #eee;
  border-bottom: none;
  line-height: 1.5;
  text-align: center;
}

.menu main ul li a{
  color: #eee;
  display: block;
  padding:1rem;
}

.menu main ul li a:hover,
.menu main ul li a.checked{
  color:#333;
}



.menu main section figure{
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width:769px){
  .menu main ul li a{
    padding:1rem 2rem;
  }

  .menu main section{
    padding:0;
  }

  .menu main section div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu main section div figure{
    width:23%;
  }

  .menu main section div:after,
  .menu main section div:before{
    content: "";
    display: block;
    width:23%;
    height: 0;
  }
  .menu main section div:before{
    order: 1;
  }
}

.cake.menu main section{
  padding: 0;
} 

.cake.menu main section .cake_wrap p{
  margin-bottom: 30px;
}

.cake.menu main section .cake_wrap dl{
  display: flex;
  margin-bottom: 15px;
}

.cake.menu main section .cake_wrap dl dt{
  width: 8rem;
}

.cake.menu main section .cake_wrap dl dd::before{
  content: ":";
  margin-right: 1rem;
}

.cake.menu main section .cake_img{
  margin-bottom: 30px;
}

@media screen and (min-width:769px){
  .cake.menu main section .cake_wrap{
    display: block;
    padding-right: 50px;
    padding-top: 50px;
  }
  .cake.menu main section{
    display: flex;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  .cake.menu main section::before{
    content:"";
    width: 100%;
    height:100%;
    background:rgba(247, 114, 55,0.5);
    position: absolute;
    z-index: -100;
    transform: skew(-10deg);
  }
  .cake.menu main section .cake_img{
    
    padding: 50px 50px 0 0;
  }
  .cake.menu main section .cake_wrap h2{
    text-align: left;;
  }

}/*===min-width:769px===*/

/*=====================
lesson
=====================*/
.lesson .under_title{
  background-image:url(../img/lesson_main.jpg);
  background-position: center center;
}

.lesson .row{
  padding-top:40px;
  padding-bottom:40px;
}

.lesson main > div:last-child{
  padding-bottom: 0;
}

.lesson main .lesson_box{
  display: flex;
  flex-direction:column-reverse;

}

.lesson main .lesson_box div{
  margin-bottom: 30px;
}

.lesson table{
  width:100%;
  margin-bottom: 30px;
}

.lesson table th,
.lesson table td{
  display: block;
  text-indent:1rem;
  line-height: 3;
}

.lesson table th{
  font-weight: normal;
  background-color: #F77237;
  color:#fff;
  text-align:left;
}

.lesson table td{
  margin-bottom: 10px;
}

.lesson .cal_area ul{
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.lesson .cal_area li{
  width:14.2857143%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  padding:10px 0;
}


.lesson .cal_area li:nth-child(7n+1){
  color: #f66;
}
.lesson .cal_area li:nth-child(1){
  background-color:#f66;
  color: #fff;
}

.lesson .cal_area li:nth-child(7n){
  color: #66f;
}

.lesson .cal_area li:nth-child(7){
  background-color:#66f;
  color: #fff;
}

.lesson .cal_area li:nth-child(7n+4){
  background:red;
}

@media screen and (min-width:769px){
  .lesson main .lesson_box{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lesson main .lesson_box > p{
    width:46.875%;
  }

  .lesson main .lesson_box div{
    width:49.21875%;
  }

  .lesson main .lesson_box div h2{
    text-align: left;
  }

  .lesson main .lesson_box:nth-child(even) > p{
    order: 2;
  }

  .lesson table{
    margin-bottom: 30px;
  }

  .lesson table th,
  .lesson table td{
    display: table-cell;
    border:1px solid #ccc;
  }

}/*===min-width:769px===*/

/*=====================
flow
=====================*/
.flow .row{
  padding-top: 40px;
  padding-bottom: 40px;
}

.flow .row:last-of-type{
  padding-bottom: 0;
}


.flow .under_title{
  background-image:url(../img/flow_main.jpg);
}

.flow .title{
  text-align: left;
}

.flow dl dd .btn{
  margin-bottom: 0;
  margin-top: 10px;
}

.flow main div:first-child figcaption p{
  margin-top: 30px;
}

.flow main > .btn{
  margin-top: 30px;
}

@media screen and (min-width:769px){
  .flow dl dd figure{
    display: flex;
    justify-content: space-between;
  }

  .flow dl dd figure > p{
    width:30%;
  }
  .flow dl dd figure > figcaption{
    width:65%;
  }
}/*===min-width:769px===*/


/*=====================
contact
=====================*/
.contact .row{
  padding-top:40px;
  padding-bottom:0px;
}

.contact .under_title{
  background-image:url(../img/contact_main.jpg);
  background-position: center center;
}

.contact .flow_area ul{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.contact .flow_area ul li{
  width:88px;
  height:88px;
  border:1px solid #F77237;
  color: #F77237;
  border-radius: 88px;
  text-align: center;
  list-style:none;
  line-height: 88px;
}

.contact .flow_area ul li.current{
  background:#F77237;
  color:#fff;
}

.contact dl dd{
  margin-bottom: 20px;
}

.contact dl:last-of-type{
  margin-bottom: 30px;
}

.contact dl:last-of-type dd{
  margin-bottom: 0;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form input[type="tel"],
.contact form input[type="number"]{
  border:1px solid #ccc;
  width:100%;
  max-width:400px;
  padding:1rem;
}

.contact form input[type="number"]{
  width:30%;
  margin-right: 0.5rem;
}

.contact form input[type="radio"]{
  margin-right: 0.5rem;
}

.contact form input[type="submit"],
.contact button{
  background:#3CAD5A;
  border:1px solid transparent;
  width:80%;
  max-width:270px;
  line-height: 70px;
  color: #fff;
  cursor: pointer;
}

.contact.check form input[type="submit"]{
  width: 60%;
  margin-bottom: 0;
  max-width:350px;
  background:#F77237;
}



.contact.check button{
  padding: 0;
  width:30%;
  margin-bottom: 0;
}

.contact.check .send{
  display: flex;
  justify-content: space-between;
}
.contact .back{
  margin-bottom: 140px;
}

.contact form input[type="submit"]:hover,
.contact button:hover{
  border:1px solid #3CAD5A;
  background:transparent;
  color:#3CAD5A;
}

.contact.check form input[type="submit"]:hover{
  border:1px solid #F77237;
  color:#F77237;
}

.contact select{
  border:1px solid #ccc;
  padding:1rem;
}

.contact textarea{
  border:1px solid #ccc;
  width:100%;
  height: 10rem;
}

.contact form p{
  text-align: center;
}

.contact .attention{
  color:#f22;
}


/*=====================
voice
=====================*/
.voice .row{
  padding-top:40px;
  padding-bottom:0px;
}


.voice .under_title{
  background-image:url(../img/voice_main.jpg);
}
.voice main > p{
  margin-bottom: 30px;
}

.voice main div.voice_wrap a{
  color: #333;
}

.voice main div.voice_wrap a figure{
  padding:10px;
  transition: 0.5s;
}

.voice main div.voice_wrap a:last-child figure{
  margin-bottom: 0;
}

.voice main div.voice_wrap a figure figcaption p:first-child{
  line-height: 1;
}

.voice main div.voice_wrap a figure figcaption p:last-child{
  line-height: 1;
}

.voice main div.voice_wrap a:hover{
  opacity: 1;
}

.voice main a:hover figure{
  background:rgba(247, 114, 55,0.5);
  
}

.voice main figure{
  display: flex;
  margin-bottom: 30px;
}

.voice main figure > p{
  width: 30%;
  margin-right: 10px;
}

@media screen and (min-width:769px){

  .voice main > div > div.voice_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .voice main figure,
  .voice main .voice_wrap a{
    display: block;
  }

  .voice main .voice_wrap a{
    width: 47%;
  }

  .voice main figure > p{
    margin-bottom: 15px;
    width: 100%;
  }

}/*===min-width:769px===*/

/*=====================
voice sannka
=====================*/
.voice.sanka main dl{
  margin-bottom: 30px;
}

.voice.sanka main dl span{
  font-family: 'Baloo Bhai', cursive;
  font-size: 3rem;
  line-height: 1.3;
}

.voice.sanka main dl dt span{
  color: #F77237;
}

.voice.sanka main dl dd span{
  color: #37b4f7;
}
@media screen and (min-width:769px){
  .voice.sanka main figure{
    display: flex;
  }

}/*===min-width:769px===*/


/*=====================
info
=====================*/
.infomation .row{
  padding-top: 40px;
  padding-bottom: 40px;
}

.infomation #side .row{
  padding-top:0;
  padding-bottom: 20px;
}

.infomation main .row:last-child{
  padding-bottom: 0;
}

.infomation .under_title{
  background-image:url(../img/flow_main.jpg);
}

.infomation .title{
  text-align: left;
}

.infomation .title a{
  color: #F77237;
}

.infomation .wrapper{
  flex-direction:column;
  margin-bottom: 140px;
}

.infomation .more{
  display: inline-block;
  border: 1px solid #999;
  color:#999;
  border-radius: 3px;
  padding:1rem;
}

.infomation .content{
  margin-bottom: 30px;
}

.infomation .next-prev{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.infomation .next-prev a{
  display: flex;
  align-items: center;
}

.infomation .wrapper #side ul{
  display: block;
}

.infomation .wrapper #side ul li{
  text-align: left;
  line-height: 2;
  list-style: disc inside;
  margin-bottom: 0;
}

.infomation .wrapper #side > ul > li{
  list-style: none;
}

.infomation .wrapper #side ul li a{
  display: inline;
  border:none;
}

.infomation .wrapper article{
  margin-bottom: 60px;
}

@media screen and (min-width:769px){
  .infomation .wrapper{
    flex-direction:row;
  }

  .infomation .content{
    margin-bottom: 70px;
  }

  .infomation .next-prev{
    margin-bottom: 0px;
  }
}/*===min-width:769px===*/

/* wp_pagenavi */
.wp-pagenavi{
  text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span{
  color: #999;
  display: inline-block;
  background-color: #fff;
  border:solid 1px #e0e0d2;
  padding: 10px 20px;
}

.wp-pagenavi a:hover{
  background-color: #eee;
  border-color: #ccc;
}

.wp-pagenavi span.current{
  color: #fff;
  background-color: #f77237;
  border-color: #F77237;
}

.wp-pagenavi .pages{
  display: none;
}